@model ChefsAndDishes.Models.ViewModel

<div class="container-fluid">
    <div class="header container-fluid text-center mb-5">
        <a style="font-size: 2em;" href="/" class="d-inline-block">Chefs</a><h2 class="d-inline-block"> | </h2><h2 class="d-inline-block">Dishes</h2>
    </div>
    <div class="subheader container-fluid">
        <h3 class="border-bottom d-inline-block col-8 pb-3">Check out our dishes!</h3>
        <a href="new_dish" class="d-inline-block col-2 offset-1">Add a Dish</a>
    </div>
    <div class="display-chefs col-9">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="d-flex">
                    <th class="col-4" scope="col">Name</th>
                    <th class="col-4" scope="col">Chef</th>
                    <th class="col-2" scope="col">Tastiness</th>
                    <th class="col-2" scope="col">Calories</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var dish in Model.DisplayDishes)
                    {
                        <tr class="d-flex">
                            <td class="col-4">@dish.Name</td>
                            <td class="col-4">@dish.Creator.FirstName @dish.Creator.LastName</td>
                            <td class="col-2">@dish.Tastiness</td>
                            <td class="col-2">@dish.Calories</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>